<h1 class="text-center text-primary">
    Hello, I'm the header
</h1>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="assets/star.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Gestion de Productos
              </a>
            </div>
          </nav>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categorias">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/conversiones">Conversiones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/actividades">Calculadora</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>