<div class="mt-3"></div>
<div class="container">
    <div class="card border-primary text-primary">
        <div class="card-header">
            <h1 class="text-center text-primary">
                {{titulo}}
            </h1>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let categoria of listaCategorias">
                        <td>{{categoria.idCategoria}}</td>
                        <td>{{categoria.nombreCategoria}}</td>
                        <td>{{categoria.descripcionCategoria}}</td>
                        <td>
                            <button type="button" name="editar" class="btn btn-outline-dark" [routerLink] = "['/categoriaForms', categoria.idCategoria]">
                                Editar
                            </button>
                            <button type="button" name="eliminar" class="btn btn-outline-danger" (click)="delete(categoria)">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                    <tr>
                            <td>
                                <a href="/categoriaForms" name="nuevo" class="btn btn-outline-primary" >
                                    Nuevo
                                </a>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>